<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#list" class="skip-link">Menuju ke konten</a>
  <header>
    <nav id="drawer" class="nav">
      <div class="heading">
        <a href="">SearRest</a>
      </div>
        <a href="#" id="hamburger" class="fas fa-bars"></a>

      <ul>
        <li><a href="/" class="coba">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="https://github.com/AbdurrahmanAufA">About Us</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="hero-img">
    <div class="hero-text">
      <h1>Welcome in <strong class="text-tittle">SearRest</strong></h1>
      <a href="#list" class="btn">EXPLORE</a>
    </div>
  </div>
  <main>
    <section id="list" class="content">
        <div>
          <h2 class= "line">List Restaurant</h2>
          <div class="posts">

          </div>
        </div>
    </section>
  </main>
  <footer>
    <p>Copyright © 2022 - SearRest</p>
  </footer>
</body>
</html>
